.IndexPage-searchbar {
  margin-bottom: 15px;
  input {
    width: 100%;
  }
  input::placeholder {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .IndexPage-searchbar {
    display: none;
  }
  .WelcomeHero {
    display: none;
  }
}

@media (max-width: 768px) {
  .Header-secondary .item-search {
    display: none;
  }
}

.Button {
  &:active,
  &.active {
    box-shadow: none;
  }
}

h2.Hero-title {
  margin-bottom: 1rem;
}

.Hero-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8px;

  .Button {
    background-color: var(--body-bg);
  }
}
